body {
    background-color: #222831;
    font-family: "Bubblegum Sans", sans-serif;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: auto;
}

#mainUI {
    text-align: center;
    padding: 1% 0;
    width: inherit;
}

.status {
    color: #4CCD99;
    word-spacing: 3px;
    font-size: 50px;
    margin-bottom: 5%;
}

#displayArea {
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#diceUI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diceContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.playerContainer {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    width: 120px;
    margin-top: 15%;
    font-size: 20px;
    text-align: left;
    font-weight: 200 !important;
    border-top: 1px solid #FFE5AD;
    padding: 5% 10px 0 10px;
}

.playerNames {
    color: #9EDDFF;
}

.playerScores {
    color: #FFE5AD;
    /* font-size: 18px; */
}

#pn2, #ps2 {
    font-size: 19px;
    font-weight: lighter;
}

.dice {
    width: 200px;
    height: auto;
}

.d1, .d2 {
    width: inherit;
    height: auto;
}

.centerDice {
    width: 120px;
    height: auto;
}

#roll {
    font-size: 18px;
    width: 70px;
    height: 40px;
    line-height: 30px;
    color: #F0F3FF;
    margin-top: 5%;
}

/* first breakpoint at 880px, then 670px */