body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  background-color: #C3F8FF;
}

a{
  cursor: pointer;
}
/* navbar section */

#navIcon {
  float: left;
  height: 50px;
  width: 50px;
  mix-blend-mode: multiply;
}

/* intro section */

#intro {
  padding: 10px;
  background-color: #C3F8FF;
}

h1,
h2,
h3 {
  color: #00A8CC;
}

h1 {
  margin-top: 0px;
  text-align: center;
  font-family: 'Sacramento', cursive;
}

.learner {
  text-align: center;
  font-weight: normal;
}

hr {
  border: none;
  border-top: 1px solid #7DCE13;
  position: relative;
}


.top-cloud {
  width: 150px;
  height: 150px;
  position: relative;
  left: 70%;
  top: 50px;
}

.bottom-cloud {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 15%;
}

.mountain {
  width: 500px;
  height: 500px;
  top: 30px;
  position: relative;
}

@media screen and (max-width: 500px) {

  .ad {
    text-align: left;
  }

}

@media screen and (max-width: 1200px) {

  .mountain {
    width: 300px;
    height: 300px;
  }

  .top-cloud {
    width: 128px;
    height: 128px;
  }

  .bottom-cloud {
    width: 128px;
    height: 128px;
  }

}

@media screen and (max-width: 750px) {

  .ad {
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    font-family: 'Sacramento', cursive;
    font-size: 200%;
  }

  .learner {
    margin-top: 20px;
    text-align: left;
    font-weight: normal;
    margin-left: 50px;
  }

  .bottom-cloud {
    z-index: -1;
  }

}

/* navbar section */


/* about me section */

#aboutme {
  padding-bottom: 30px;
  background-color: #C3F8FF;
}

.me {
  text-align: left;
  padding: 0 50px;
}

/* info section */


#info {
  padding-top: 0px;
  background-color: #C3F8FF;
}

.infoH2 {
  padding-bottom: 2px;
}

.education {
  display: inline;
  position: absolute;
  left: 50px;
}

.skills {
  display: inline;
  position: absolute;
}


.park {
  width: 200px;
  height: 200px;
  mix-blend-mode: multiply;
}

.parkbirds {
  margin-left: 50px;
}


.hobbies {
  display: inline;
  position: absolute;
  left: 50px;
  margin-top: 250px;
}

.contacts a {
  text-decoration: none;
  color: black;
}

.cont {
  float: left;
  margin: 5px;
  height: 22px;
  width: 22px;
  mix-blend-mode: multiply;
}

.contact {
  float: left;
  margin: 5px;
  height: 35px;
  width: 35px;
  mix-blend-mode: multiply;
}

/* text size */